{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}О нас | bmwminiparts.ru{% endblock %}
{% block breadcrumbs %} {{ block.super }} <li><a href="/about_us/">О нас</a></li>{% endblock %}
{% block content %}
	<div class="medium-12 columns">
		<h1 style="font-size:1.5rem;">О нас</h1>
        <p>BMW&MINI-auto parts наш интернет-магазин предлагает широкий ассортимент оригинальных деталей и их аналогов для легковых автомобилей BMW и MINI.
            Мы напрямую сотрудничаем с дилерскими центрами данного бренда, у нас нет посредников, аренды под офисы и толпы сотрудников для демонстрации товара, поэтому наши цены весьма демократичны.
        </p>
            Весь процесс подбора и выбора необходимых запчастей вы можете контролировать самостоятельно, так как наш сайт достаточно прост и удобен в использовании, даже для новичков.
            В случае, если вам необходима консультация и помощь в подборе, наш высокопрофессиональный специалист, всегда поможет вам в подборе необходимых вам деталей, используя VIN-код автомобиля.
            </br>Ежедневно обновляемый каталог цен и ассортимента интернет-магазина содержит всю информацию об актуальном наличии и прайсе на оригинальные автозапчасти и аналоги.
        </p>
        <p>
            Доставку автозапчастей, кузовных деталей, габаритного и не очень груза мы осуществляем в любые города РФ транспортной компанией или почтой.
            Стоимость доставки перевозчиком зависит от веса заказа и расстояния до пункта выдачи товара.
        </p>
        <p>
            Наш магазин для тех, кто ценит свое время и деньги.
            Остановив свой выбор на нашем интернет-магазине, вы получаете профессионализм и соотношение цена-качество в одном флаконе, что сделает процесс покупки максимально быстрым и приятным!</p>

	</div>
{% endblock content %}