{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Доставка и оплата, доставка по всей России | bmwminiparts.ru{% endblock %}
{% block breadcrumbs %} {{ block.super }} <li><a href="/delivery_payment/">Оплата и Доставка</a></li>{% endblock %}
{% block content %}
	<div class="medium-12 columns">
		<h1 style="font-size:1.5rem;">Оплата и Доставка</h1>
		<h3 style="font-size:1.2rem;">Способы оплаты:</h3>
		<ul style="list-style-type: none;">
			<li>1.	Наличными в нашем офисе по адресу : г. Санкт-Петербург, ул. Ивана Черных, д. 21 оф. 6</li>
			<li>2.	Наличными курьеру.</li>
			<li>3.	Перевод на карту Сбербанка России:</li>
			<li><cite>Если у Вас имеется карта Сбербанка России, то Вы можете сделать перевод по номеру карты зарегистрированной на наше юр.лицо, при помощи приложения:
						"Мобильный банк"
						"Онлайн Банк"
						или через банкомат по номеру карты
<span style="font-size:1.2rem;font-weight:bold;color:#000;">5469 5500 3036 8788 Роман Сергеевич Р.</span></cite><p><span style="font-weight:bold;color:#ff0000;">Внимание!</span>
При переводе денежных средств, в комментариях к переводу указывайте номер заказа, для которого Вы выполняете оплату.</p></li>
		</ul>
		<h3 style="font-size:1.2rem;">Способы доставки:</h3>
			<ul style="list-style-type: none;">
				<li><h4 style="font-size:1.1rem;">Самовывоз:</h4>
				<p>Вы можете забрать товар самостоятельно на нашем складе, <span style="font-weight:bold;color:#ff0000;">по предварительной договоренности!</span><br>
					По адресу: <span style="font-weight:bold;color:#000;">г. Санкт-Петербург, ул. Ивана Черных, д. 21 оф. 6</span></p></li>
				<li><h5>Курьер по Санкт-Петербургу:</h5>
				<p>В пределах КАД - 300 рублей габаритный груз (120 см. при сложении длины,высоты и ширины упаковки, и весом не более 12кг.)<br>и от 600р. негабаритный груз в зависимости от размеров и веса груза.</p>
				<p>Доставка осуществляется с 12:00 до 22:00 по рабочим дням. По выходным дням по предварительной договоренности.</p>
				<p>Курьер, собирая заказы, совершает звонок заказчику для уточнения адреса и времени доставки. Прибыв по адресу курьер ожидает заказчика не более 15 минут, после чего уезжает на следующий адрес.  Доставка осуществляется до парадной.
					Доставка заказанного товара осуществляется на следующий день после прибытия его на склад организации.</p>
				<p style="font-weight:bold;color:#397bd9;">СРОЧНАЯ ДОСТАВКА В ДЕНЬ ЗАКАЗА(ПРИБЫТИЯ ЗАКАЗА НА СКЛАД) 600 РУБЛЕЙ.</p></li>
			</ul>


	</div>
{% endblock content %}